{% extends "base.html" %}

{% block content %}
{{ super() }}

<form action="/contract" method="post", class="form-contract">
    <p>
        <label>Имя: </label><input type="text" name="username" value="" required>
    </p>
    <p>
        <label>Email: </label><input type="text" name="email" value="" required>
    </p>
    <p><label>Сообщение:</label></p>
    <p><textarea name="message" cols="7" rows="40"></textarea></p>
    <p><input type="submit" value="Отправить"></p>
</form>

{% endblock content %}